SECRET_KEY=your_secret_key_here
SUPERADMIN_USERNAME=superadmin
SUPERADMIN_PASSWORD=postgres_password

DATABASE_URL=postgresql://postgres:postgres_password@localhost:5432/recipes
SECRET_KEY_DB=db_security_key

POSTGRES_DB=recipes
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password